CompileFlags:
    CompilationDatabase: build
    Compiler: clang-cl
    Remove:
        - "/EHsc"
        - "/O2"
        - "/Ob2"
        - "/MD"
        - "/GS"
        - "/GL"
        - "/Zc:wchar_t"
        - "/Zc:inline"
        - "/Zc:forScope"
        - "/Zc:rvalueCast"
        - "/GR"
        - "/Gy"
        - "/GF"
        - "/nologo"
        - "/D_WINDOWS"
        - "/WIN32"
        - "cl.exe"
        - "-std:c++latest"
    Add:
        - -D_HAS_CXX23=1
        - --std=c++23
        - --driver-mode=cl
        - --query-driver="D:/Scoop/apps/llvm/current/bin/clang-cl.exe"
        - -include stdafx.h
        - -I"C:/Program Files (x86)/Windows Kits/10/Include/10.0.22621.0/ucrt"
        - -I"C:/Program Files (x86)/Windows Kits/10/Include/10.0.22621.0/shared"
        - -I"C:/Program Files (x86)/Windows Kits/10/Include/10.0.22621.0/um"
        - -I"C:/Program Files (x86)/Windows Kits/10/Include/10.0.22621.0/winrt"
        - -I"D:/dev/vcpkg/installed/x64-windows/include"
        - -isystem "C:/Program Files/Microsoft Visual Studio/18/Enterprise/VC/Tools/MSVC/14.50.35717/include"
        - -DWIN32
        - -D_WINDOWS
        - -DUNICODE
        - -D_UNICODE
        - -m64
        - -fms-extensions
        - -fms-compatibility
        - -fms-compatibility-version=19
