# top-most EditorConfig file
root = true

[*]
# Core EditorConfig properties
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cpp]
# C++ specific settings supported by Visual Studio/VS Code
# e.g., set brace positioning, pointer/reference alignment, etc.
# Check Microsoft Learn for a full list of supported C++ properties:
#
